
<header class="site-header">
        <div class="container header-inner">
            <div class="header-left">
                <img class="logo" src="static/img/logoWhite.png" alt="Logo Pretty Flacko" />
                <h1 class="brand">Mon Portfolio</h1>
            </div>

            <div class="header-right">
                <button class="nav-toggle" aria-controls="main-nav" aria-expanded="false" aria-label="Ouvrir le menu">
                    ☰
                </button>
            </div>
 
             <nav id="main-nav" class="main-nav" aria-label="Navigation principale">
                <ul>
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="#apropos">À propos</a></li>
                    <li><a href="#projets">Projets</a></li>
                    <li><a href="page/cv.html"> Mon CV</a></li>
                </ul>
            </nav>
        </div>
    </header>

